<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/layout :: common_header(~{::title},_)">
  <title>bittrader - charts</title>
</head>
<body th:replace="common/layout :: common_body(~{:: #content},~{::script})">
<th:block id="content">
  <h2 class="mb-3" th:text="|${productCode} charts|"></h2>

  <nav class="nav nav-pills mb-3">
    <a class="nav-link"
       th:each="duration : ${durations}"
       th:classappend="${duration == activeDuration} ? 'active' : ''"
       th:href="@{/charts/{productCode}(productCode=${productCode},duration=${duration})}"
       th:text="${#strings.toLowerCase(duration)}"
    ></a>
  </nav>

  <div id="chart-candlestick"></div>
  <div id="chart-volume"></div>
</th:block>
<script th:inline="javascript">
  window.onload = function () {
    const candleSticks = JSON.parse([[${candleSticks}]]);
    const orders = JSON.parse([[${orders}]]);
    const candleOptions = {
      series: [{
        data: candleSticks.map(candleStick => {
          return {
            x: new Date(candleStick.dateTime),
            y: candleStick.quotes
          }
        })
      }],
      chart: {
        type: 'candlestick',
        id: 'candles',
        toolbar: {
          autoSelected: 'pan',
          show: false
        },
        zoom: {
          enabled: false
        },
        height: 350
      },
      title: {
        text: 'CandleStick Chart',
        align: 'left'
      },
      xaxis: {
        type: 'datetime',
        labels: {
          datetimeUTC: false
        }
      },
      annotations: {
        xaxis: orders.map(order => {
          return {
            x: new Date(order.orderDate).getTime(),
            borderColor: '#00E396',
            label: {
              borderColor: '#00E396',
              style: {
                fontSize: '12px',
                color: '#fff',
                background: '#00E396'
              },
              orientation: 'horizontal',
              offsetY: 7,
              text: order.orderSide
            }
          }
        })
      }
    };
    console.log(candleOptions);

    const chart = new ApexCharts(document.querySelector("#chart-candlestick"), candleOptions);
    chart.render();

    const volumes = JSON.parse([[${volumes}]]);
    const volumeOptions = {
      series: [{
        name: 'volume',
        data: volumes.map(volume => {
          return {
            x: new Date(volume.dateTime),
            y: volume.volume
          }
        })
      }],
      chart: {
        height: 160,
        type: 'bar',
        brush: {
          enabled: true,
          target: 'candles',
          autoScaleYaxis: false
        },
        selection: {
          enabled: true,
          xaxis: {
            min: new Date(volumes[0].dateTime).getTime(),
            max: new Date(volumes[volumes.length - 1].dateTime).getTime()
          },
          fill: {
            color: '#ccc',
            opacity: 0.4
          },
          stroke: {
            color: '#0D47A1',
          }
        },
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        width: 0
      },
      title: {
        text: 'Volumes',
        align: 'left'
      },
      xaxis: {
        type: 'datetime',
        labels: {
          datetimeUTC: false
        }
      }
    };

    const volumeChart = new ApexCharts(document.querySelector("#chart-volume"), volumeOptions);
    volumeChart.render();
  }
</script>
<script
    th:src="@{/webjars/apexcharts/{version}/dist/apexcharts.min.js(version=${@webjarsConfig.versions['apexcharts']})}"></script>
</body>
</html>
